*.class

# Package Files #
*.jar
*.war
*.ear
/jctools-core/target
/jctools-benchmarks/target
/jctools-experimental/target/
/.project
*.iml
.idea


/.settings

target/MANIFEST.MF
/settings.xml
target/
